.editorjs-container .cdx-quote {
    position: relative;
    margin: 0 0 1rem;
    padding: 10px 10px 10px 30px;
    background: rgb(255 0 55 / 15%);
    border: 0;
}

.editorjs-container .cdx-quote::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background-color: #ff0037;
    content: '';
}

.editorjs-container .cdx-quote__text {
    min-height: 1.5em;
    margin: 0;
    border: 0;
    box-shadow: none;
    font-size: inherit;
    line-height: inherit;
}

.editorjs-container .cdx-quote__caption {
    display: none;
}

.editorjs-container .cdx-quote__text:empty::before {
    color: #707684;
}